@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e7ebf0;
}

.container {
  width: 1000px;
  margin: 20px auto;
}

.center {
  display: flex;
  justify-content: center;
}

.hide {
  display: none;
}


