.form-style-3{
    max-width: 500px;
    padding: 20px 12px 0px 20px;
    font: 13px Arial, Helvetica, sans-serif;
}
.form-style-3-heading{
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid #ddd;
    margin-bottom: 10px;
    font-size: 15px;
    padding-bottom: 3px;
}
.form-style-3 label{
    display: block;
    margin: 0px 0px 15px 0px;
}
.form-style-3 label > span{
    width: 100px;
    font-weight: bold;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
    margin-right: 60px;

}

.form-style-3 span.required{
    color:red;
}
.form-style-3 input.input-field, .form-style-3 .select-field{
    width: 48%;
}
.form-style-3 input.input-field{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
}
.form-style-3 .input-field:focus{
    border: 1px solid #005cb3;
}

.form-style-3 input[type=submit],
.form-style-3 input[type=button]{
    border: none;
    padding: 8px 15px 8px 15px;
    background: #005cb3;
    margin-top: 5px;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
